body {
	font-size: 110%;
}

.container {
	min-width: 900px;
	width: 100%; 	
	_width: expression(document.body.clientWidth < 902? "900px": "100%");
}

#headNav {
	text-align: right;	
	padding-top: 10px;
	margin: 0 25px;
	height: 25px;
	font-size: 1.25em;
}

#headNav a {
	padding-left: 35px;
	background: transparent url('../images/email.jpg') no-repeat scroll 0 45%;
	color: #777;
	opacity: 0.7;
	zoom: 1;
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
}

#headNav a:hover, #headNav a:active {
	font-size: 110%;
	color: #CCC;
	opacity: 1.0;
	zoom: 1;
	filter: alpha(opacity=100);
	-moz-opacity: 1.00;
	-khtml-opacity: 1.00;
}

#header {
	width: 100%;	
	margin-bottom: 30px;
}

#header .description {
	font-weight: bolder;
	margin: auto auto;
	width: 900px;
	opacity: 0.7;
	zoom: 1;
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
}

#header .description p {
	padding-left: 60px;	
}

#sitename {
	margin: 0 auto 0 auto;
	width: 810px;
	opacity: 0.75;
	zoom: 1;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
}

#nav {
	margin: 0 auto 20px auto;
	border: 2px dashed #555;
	padding: 10px;
	width: 810px;
	background: transparent url('../images/stripe.png') repeat scroll !important;
	background: transparent;
}

#nav .block {
	width: 100%;
	min-height: 300px;
	border-bottom: 2px dashed #555;	
	clear: both;
}

#nav .last {
	border-bottom: none;
} 

#nav .column {
	width: 248px;
	min-height: 300px;
	padding: 0 10px;
	float: left;
}

#nav .left {
	margin-left: 0;
	border-right: 2px dashed #555;	
	text-align: center;
}

#nav .right {
	border-left: 2px dashed #555;	
	text-align: center;
}

#nav .content {
	width: 500px;
}

#nav .flask {
	display: block;
	margin: 0 auto;
	_display: none;
}

#nav ul {
	width: 220px;
	list-style-type: none;	
	border-top: 2px dashed #555;
	padding-top: 15px;
}

#footer {
	margin: 0 auto;
	padding: 5px 0 15px 0;
	width: 840px;
	text-align: center;
	font-size: 0.9em;
}

#planeBg {
	min-width: 900px;
}