body {
	margin: 0;
	background: transparent url('../images/cloud.png') repeat scroll;
	font-size: 100%;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.5;
	color:#777; 
	font-variant: small-caps;
}

h1,h2,h3,h4,h5,h6 { 
	color: #666;
	font-weight: bold;
	clear: both; 
}

h1 { font-size: 5em; line-height:2; }
h2 { font-size: 2.5em; line-height:2; }
h3 { font-size: 1.75em; line-height:2; }
h4 { font-size: 1.5em; line-height:1.25; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

a {	
	font-weight:bold;
	text-decoration: none;
}

a:link, a:visited {
	color: #058;	
}

a:hover, a:active {
	color: #08E;
	text-decoration: underline;
}

ul, ol {
	padding-left: 2em;
}

blockquote {
	font-style: normal;
	font-size: 0.8em;
	margin: 1.5em;
	padding: 0 0 0 25px;
	background: transparent url('../images/quote.png') top left no-repeat !important;
	background: transparent url('../images/quote.gif') top left no-repeat;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
}

.round-corners-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-moz-border-radius: 5px;
}

.round-corners-10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
}

.round-corners-30 {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;	
	-moz-border-radius: 30px;
}

.round-corners-5, .round-corners-10, .round-corners-30 {
	behavior: url(css/border-radius.htc); 	
}

.clear {
	clear: both;
}
			
.container {
	width: 100%; 	
	position: relative; 
	margin: 0 auto;
}