body {
	margin: 0;
	background: transparent url('../images/cloud.png') repeat scroll;
	font-size: 100%;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.5;
	color:#777; 
	font-variant: small-caps;
}

h1,h2,h3,h4,h5,h6 { 
	color: #666;
	font-weight: bold;
	clear: both; 
}

h1 { font-size: 5em; line-height:2; }
h2 { font-size: 2em; line-height:2; }
h3 { font-size: 1.75em; line-height:2; }
h4 { font-size: 1.5em; line-height:1.25; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

a {	
	font-weight:bold;
	text-decoration: none;
}

a:link, a:visited {
	color: #058;	
}

a:hover, a:active {
	color: #08E;
	text-decoration: underline;
}

ul, ol {
	padding-left: 2em;
}

blockquote {
	font-style: normal;
	font-size: 0.8em;
	margin: 1.5em;
	padding: 0 0 0 25px;
	background: transparent url('../images/quote.png') top left no-repeat !important;
	background: transparent url('../images/quote.gif') top left no-repeat;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
}

.round-corners-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-moz-border-radius: 5px;
}

.round-corners-10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
}

.round-corners-30 {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;	
	-moz-border-radius: 30px;
}

.round-corners-5, .round-corners-10, .round-corners-30 {
	behavior: url(css/border-radius.htc); 	
}

.clear {
	clear: both;
}
			
.container {
	width: 100%; 
	position: relative; 
	margin: 0;
}

#headNav {
	text-align: right;	
	padding-top: 10px;
	margin: 0 15px;
	height: 25px;
}

#headNav a {
	color: #777;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
}

#headNav a:hover, #headNav a:active {
	color: #CCC;
	opacity: 1.0;
	filter: alpha(opacity=100);
	-moz-opacity: 1.00;
	-khtml-opacity: 1.00;
}

#header {
	width: 100%;	
	margin-bottom: 30px;
}

#header .description {
	font-weight: bolder;
	margin: auto auto;
	width: 900px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
}

#header .description p {
	padding-left: 60px;	
}

#header h1 {
	display: none;
}

#logo {
	margin: 0 auto -60px auto;
	width: 900px;
	height: 300px;
	background: transparent url('../images/logo.png') no-repeat scroll left top;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/logo.png', sizingMethod='crop') alpha(opacity=50);
}

#nav {
	margin: 0 auto 20px auto;
	border: 2px dashed #555;
	padding: 10px;
	width: 810px;
	height: 320px;
	background: transparent url('../images/stripe.png') repeat scroll;
}

#nav .column {
	width: 248px;
	height: 100%;
	border-right: 2px dashed #555;	
	padding: 0 10px;
	float: left;
}

#nav .first {
	margin-left: 0;
}

#nav .last {
	border-right: none;
}

#nav ul {
	width: 220px;
	list-style-type: none;	
	border-top: 2px dashed #555;
	padding-top: 15px;
}

#footer {
	margin: 0 auto;
	padding: 5px 0 15px 0;
	width: 840px;
	text-align: center;
	font-size: 0.875em;
}

#planeBg {
	min-width: 900px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	z-index: -10;
}

.plane {
	display: none;
	position: relative;
	top: 0;
	left: 0;	
}